<%- include ("../../partials/header.ejs") %>
<%- include ("../../partials/navbar.ejs") %>

<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Edição de categorias</h2>
        </div>
        <div class="card-body"></div>
            <form action="/categories/update" method="post">
                <input type="text" name="title" class="form-control" placeholder="Defina o título da categoria" value="<%= category.title %>"><br>
                <input type="hidden" name="id" value="<%= category.id %>">
                <button class="btn btn-success">Atualizar</button>
            </form>
    </div>
</div>